body {
  margin: 0;
 /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
html {
  font-family: 'Helvetica';
}

a {
  color:  black;
}
a:link {
  text-decoration: none;
  color:  black;
}

a:active {
  color: black;
}
/* ===================== TEST ====================== */
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  /*background-color: #e6e6e6;*/
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 10px;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  /*background: #006edc;*/
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 10px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
 /* background: #1087ff;*/
}
.react-calendar--selectRange .react-calendar__tile--hover {
  /*background-color: #e6e6e6;*/
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 10px;
}

/* ============ TEST ================0 */

/* ====== NAVBAR ====== */
.navbar-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

.navbar-links li a {
  text-decoration: none;
  color: black;
}
.title {
  font-size: 42px;
  font-weight: 400px;
  margin-top: 0;
  margin-bottom: 0;

}
.title-text {
  font-size: 24px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: yellow;
}

.nav-right-side {
  display:  flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-right-side li {
  margin-right: 1em;
}
.nav-right-side li a {
  font-size: 24px;
}
.dona-btn {
  padding: 1em;
  margin-right: 1em;
  background-color: yellow;
}
/* =======================  CALENDAR NAVIGATION PART ===================== */

.react-calendar, .react-calendar__viewContainer button {
  font-family: 'Helvetica' !important;
}
.react-calendar__navigation {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.react-calendar__navigation button {
  background-color: transparent;
  border: none;
}
.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation__prev-button, .react-calendar__navigation__next-button {
  /*border: 1px solid #eaeaea !important;*/
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 72px;
  position: absolute;
  top: 45%;
  font-family: 'Helvetica';
}
.react-calendar__navigation__prev-button {
  left: 6%;
}
.react-calendar__navigation__next-button {
  right: 6%;
}

.react-calendar__navigation__label {
  margin-left: 3em;
  margin-right: 3em;
}
.react-calendar__navigation__label__labelText {
  font-size: 42px;
  text-transform: capitalize;
}
.react-calendar__tile--active {
  background-color: #006edc;
}

/* ============= MAIN CALENDAR ========== */

.react-calendar__viewContainer {
  margin: 2em 10%;
}

abbr[title] {
  font-size: 22px;
  text-decoration: none;
  text-transform: capitalize;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar__month-view__weekdays {
 /* border: 1px solid #eaeaea !important;
  background-color: yellow;*/
}

.react-calendar__month-view__days button {
 /* border: 1px solid #eaeaea !important;*/
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0.5em;
  font-size: 48px;
}

/* ========================= SHOW DATA ===================== */

.date-container {
  margin-left: 10%;
  margin-right:  10%;
  background-color: yellow;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 48px;

}
.data-list {
  margin: 3em;
  margin-left: 10%;
  padding-left: 0;
}

/* ======================== SINGLE CARD ===================== */

.card-container {
  display:  flex;
  margin-top: 1em;
  margin-bottom: 1em;
  /*background-color: lightgrey;*/
  padding:  1em;
}
.card-img {
  height: auto;
  width:  10%;
  margin-right: 1em;
}
.card-details {
  padding-top: 0.5em;
}
.card-name {
  text-transform: uppercase;
}
.card-yellow-title {
  background-color: yellow;
  padding: 0.5em;
}
.bio-corta {
  padding-left: 0.5em;
}

/*==== HERSTORY PAGE====== */

.herstory-main-div {
  text-align: center;
  display:  flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.monthsList {
  margin: 1em;
  padding: 0.7em;
  border:  1px solid yellow;
  background-color: yellow;
  cursor: pointer;
}

.categoriesList {
  margin:  1em;
  cursor: pointer;
}

.herstory-data-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 5%;
}
.herstory-card-container {
  border:  1px solid grey;
  padding: 0.5em;
}
.herstory-article {
  position:  relative;
  overflow:  hidden;
}
.herstory-nace, .herstory-fallece, .herstory-fecha-separate {
  margin:  0;
}
.herstory-nace, .herstory-fallece {
  color:  white;
  font-weight: 600;
  font-size: 18px;
}
.herstory-fecha-separate {
  color: yellow;
  font-size: 30px;
}
.herstory-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.herstory-fecha-div {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 0;
  height: fit-content;
  margin: auto;
}

.herstory-img-bio {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 0;
  height: fit-content;
  margin: auto;
}
.herstory-heighlight-yellow {
  background-color: yellow;
}
.herstory-heighlight-white {
  background-color: white;
}
.herstory-card-category-div {
   margin-top: 0.5em;
}

.herstory-card-category {
  padding: 0.5em;
  border:  1px solid yellow;
  background-color: yellow;
}
/* ========== MOBILE RESPONSIVE ======= */

@media only screen and (max-width: 767px) {
  .card-img {
    width:  30%;
  }
  .herstory-data-list {
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
   padding: 5%;
  }
}